html, body {
    -khtml-transition: filter 0.1s ease;
    -moz-transition: filter 0.1s ease;
    -ms-transition: filter 0.1s ease;
    -o-transition: filter 0.1s ease;
    -webkit-transition: filter 0.1s ease;
    transition: filter 0.1s ease;
}

body {
  margin: 0;
  padding: 0;
  height: 1500px;
  overflow-y: hidden;
  background-color: #212426;
  white-space: nowrap;
}

div#name {
  display: inline-block;
  width: 29%;
  text-align: left;
  padding-left: 10px;
}
div#header {
  display: inline-block;
  width: 40%;
  text-align: center;
}
div#links {
  display: inline-block;
  vertical-align: middle;
  width: 29%;
  text-align: right;
}
div#links form{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

#menu-nav {
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1000;
  color: #d9d9d9;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  padding: 0;
}
#menu-nav li {
  display: inline-block;
}
#menu-nav a {
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
  padding: 0 10px;
  text-align: center;
  font-weight: lighter;
  transition: all 0.3s ease-in-out;
}

#gravitybutton {
  color: #707070;
}
#pictishcasebutton {
  color: #707070;
}
#alchemistbutton {
  color: #707070;
}
#atchoumbutton {
  color: #707070;
}

.page {
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 72px;
  line-height: 100vh;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.page img {
  width: 100%;
  height: auto;
  margin: 0;
  vertical-align: middle;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 10px;
    line-height: 2;
    text-align: center;
    color: #ffffff30;
    font-size: 30px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.popup {
  position: fixed;
  display: inline-block;
  top: 30%;
  left: 50%;
  margin-left: -240px;
  white-space: normal;
}

.popup .popuptext {
  visibility: hidden;
  width: 480px;
  background-color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
  position: fixed;
  line-height: 48px;
  margin-left: -80px;
  color: #d4d4d4;
  font-size: 30px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

.popuptext .button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 32px 64px;
  text-align: center;
  margin: 18px;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 12px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

.popup .show {
  visibility: visible;
}
