* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #323232;
  font-family: Arial, sans-serif;
}

.gallery {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0px;
}

.gallery img {
  display: block;
  width: 64%;
  max-width: 100%;
  height: auto;
  margin: 0 auto 24px auto;
}

@media (orientation: portrait) {
  .gallery img {
    width: 100%;
  }
}

#status {
  color: #ffffff;
  text-align: center;
}
